{% block sidebar %}
	<div class="well sidebar-nav">
            <ul class="nav nav-list">
            	<li class="nav-header">Documentation</li>
	          {% for link in navurls %} 
	          	<li {{ link.active ? 'class="active"' : 'false' }}><a href="{{ link.url }}">{{ link.desc }}</a></li>
	          {% endfor %}
              <li><a href="http://www.slimframework.com/">Slim</a></li>
              <li><a href="http://redbeanphp.com/">RedBean</a></li>
              <li><a href="http://twig.sensiolabs.org/">Twig</a></li>
              <li><a href="http://twitter.github.io/bootstrap/">Bootstrap</a></li>
            </ul>
        </div><!--/.well -->
{% endblock sidebar %}