{% extends "base/fluid.html.twig" %}

{% block sidebar %}
{# empty the sidebar #}
{% endblock sidebar %}
{% block navbar %}
{# empty the navbar #}
{% endblock navbar %}
{% block content %}

<style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px;
      }
      .container {
        width: 300px;
    	margin-left:50%;
      }
 
      /* The white background content wrapper */
      .container > .content {
     
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px;
        -webkit-border-radius: 10px 10px 10px 10px;
           -moz-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }
 
      .login-form {
        margin-left: 65px;
      }
 
      legend {
        margin-right: -50px;
        font-weight: bold;
        color: #404040;
      }
 
    </style>
  <div class="container">
        <div class="content">
 			<div class="row">
                <div class="login-form">
                    <h2>Login</h2>
                    <form action="" method="post">
                        <fieldset>
                            <div class="clearfix">
                                <input type="text" name="email" placeholder="Email">
                            </div>
                            <div class="clearfix">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <button class="btn btn-primary" type="submit">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
       </div>
</div>
{% endblock content %}